<!DOCTYPE html>
<html>
<head>
	<title>GL Project</title>
	<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}css/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.all.js"></script>
	<meta charset="UTF-8">
</head>
<body>
	<!-- BEGIN: content -->
	<!-- BEGIN .header-bg -->
	<div class="header-bg">
		<div id="header">
			<div class="wrapper clearfix">
				<!-- BEGIN: menu -->
				<ul id="menu">
					<li><a href="#home" class="active">home</a></li>
					<li><a href="#about">about</a></li>
				</ul><!-- END: menu -->
			</div>
		</div><!-- END: header -->
		<!-- BEGIN: home page -->
		<div id="home" class="scrol-page">
			<div class="wrapper">
				<!-- BEGIN: slider -->
				<div id="slider-wrapper">
					<!--SLIDE CONTAINER STARTS-->
					<div id="slide-container">
						<!--1ST SLIDE STARTS-->
						<div id="slide-1" class="slide">
							<div class="container">
								<div class="one_half">
									<img src="{{ MEDIA_URL }}images/slider_1.png" width="440" height="400" alt="slide-1" />
								</div>
								<div class="one_half last_column"><br /><br /><br /><br /><br />
									<p class="slide-title-normal">Hello.</p><br />
									<p class="slide-subtitle-big">Every practice has a set of rules which governs it. Mastery occurs with the realization of these rules. Innovation occurs at the point of intelligent and creative rebellion against them.<br /> — Fiel Valdez</p><br />
									<div class="huge-button-holder"><a class="huge-button" href="#"><span>LEARN MORE</span></a></div>
								</div>
							</div>
						</div>
						<!--1ST SLIDE ENDS-->
						<!--2ND SLIDE STARTS-->
						<div id="slide-2" class="slide">
							<div class="container" >
								<div class="one_half">
									<img src="{{ MEDIA_URL }}images/slider_2.png" width="440" height="400" alt="slide-2" />
								</div>
								<div class="one_half last_column"><br /><br /><br /><br /><br /><br />
										<p class="slide-title-normal">Discover the fresh style</p><br />
										<p class="slide-subtitle-big">Clients are full of surprises. Design is what you make of the surprises. <br />— Dan Phillips</p><br />
										<div class="huge-button-holder"><a class="huge-button" href="#"><span>LEARN MORE</span></a></div>
								</div>
							</div>
						</div>
						<!--2ND SLIDE ENDS-->
						<!--SLIDE'S PAGINATION STARTS-->
						<div id="cycle-pager"></div>
						<!--SLIDE'S PAGINATION ENDS-->
					</div>
				<!--SLIDE CONTAINER ENDS-->
				</div>
			</div>
			<div class="clear"></div>
			<div class="space_two"></div>
			<!-- END: slider -->
		</div>
	</div><!-- END: home page -->
	
	<!-- BEGIN: about page -->
	<div id="about" class="scrol-page">
		<div class="wrapper">
			<!-- BEGIN: page title -->
			<div class="page-title clearfix">
				<div class="pagetitle1">ABOUT<span> | US</span></div>
				<div class="line-heading"></div>
			</div><br/><br/><br/><!--END: page title -->
			<!-- BEGIN: about page -->
			<!-- BEGIN: about_box -->
			<div id="about_box">
				<ul>
					<li>
						<a href="{{ MEDIA_URL }}images/large_image.jpg" class="iframe" data-id="fancybox-portfolio"><img src="{{ MEDIA_URL }}images/foto_mygusta.jpg" alt="#" width="225" height="250" /></a>
						<div class="info">
							<h3>Python Developper</h3>
							<h2>Chedi Toueiti</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis.</p>
						</div>
					</li>
					<li>
						<a href="{{ MEDIA_URL }}images/large_image.jpg" class="iframe" data-id="fancybox-portfolio"><img src="{{ MEDIA_URL }}images/foto_rage.jpg" alt="#" width="225" height="250" /></a>
						<div class="info">
							<h3>Scrum Master</h3>
							<h2>Emir Hamraoui</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis.</p>
						</div>
					</li>
					<li>
						<a href="{{ MEDIA_URL }}images/large_image.jpg" class="iframe" data-id="fancybox-portfolio"><img src="{{ MEDIA_URL }}images/foto_troll.jpg" alt="#" width="225" height="250" /></a>
						<div class="info">
							<h3>Php Developper/ Designer</h3>
							<h2>Adel Attia</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis.</p>
						</div>
					</li>
				</ul>
			</div><!-- END: about_box -->
			<div class="line-heading"></div>
			<div class="one-third">
				<h4>Our Philosophy</h4>
				<p class="blue">KISS & DRY</p>
				<p>
					<b>DRY:</b><br/>
					Don't Repeat Yourself (DRY, also known as Once and Only Once or Single Point of Truth (SPOT)) is a process philosophy aimed at reducing duplication, particularly in computing.
					The philosophy emphasizes that information should not be duplicated, because duplication increases the difficulty of change, may decrease clarity, and leads to opportunities for inconsistency.
					DRY is a core principle of Andy Hunt and Dave Thomas's book The Pragmatic Programmer.
					<br/><br/>
					<b>KISS:</b><br/>
					KISS principle is a colloquial name for the empirical principle that simplicity is an essential asset and goal in systems and (industrial) processes.
					It is popular in software, animation and engineering in general.
				</p>
			</div><!--END ONE-THIRD-->
			<div class="one-third">
				<h4>Our Strategy</h4>
				<p class="blue">
					<p>
						<b>Loose coupling</b><br/>
						A fundamental goal of Django’s stack is loose coupling and tight cohesion. The various layers of the framework shouldn’t “know” about each other unless absolutely necessary.
						For example, the template system knows nothing about Web requests, the database layer knows nothing about data display and the view system doesn’t care which template system a programmer uses.
						Although Django comes with a full stack for convenience, the pieces of the stack are independent of another wherever possible.
						<br/></br>
						<b>Less code</b></br>
						Django apps should use as little code as possible; they should lack boilerplate. Django should take full advantage of Python’s dynamic capabilities, such as introspection.
						<br/></br>
						<b>Quick development</b></br>
						The point of a Web framework in the 21st century is to make the tedious aspects of Web development fast. Django should allow for incredibly quick Web development.
					</p>
				</p>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>		
			</div><!--END ONE-THIRD-->
				<!-- BEGIN: skills bar -->
			<div class="one-third last">
				<h4>Our Skills</h4>
				<ul class="skills glow">
					<li><span class="skill">(x)HTML & CSS</span><span class="skill-bar"><span style="width:55%"></span></span></li>
					<li><span class="skill">JavaScript   </span><span class="skill-bar"><span style="width:40%"></span></span></li>
					<li><span class="skill">Python       </span><span class="skill-bar"><span style="width:45%"></span></span></li>
					<li><span class="skill">Django       </span><span class="skill-bar"><span style="width:35%"></span></span></li>
					<li><span class="skill">Linux        </span><span class="skill-bar"><span style="width:80%"></span></span></li>
					<li><span class="skill">Google       </span><span class="skill-bar"><span style="width:95%"></span></span></li>
				</ul>
			<div class="skills-graph"></div>
			</div>
		</div>
	</div><!-- END: skills bar -->
<!-- END: about page -->
</body>
</html>