{% extends "site/base.html" %}
{% block body %}
	<div class="header-bg">
		<div id="header">
			<div class="wrapper clearfix">{% include "site/misc/menu.tpl" %}</div>
		</div>
		<div id="home" class="scrol-page">
			<div class="wrapper">{% include "site/slides/slides.tpl" %}</div>
			<div class="clear"></div>
			<div class="space_two"></div>
		</div>
	</div>
	<div id="about" class="scrol-page">
		<div class="wrapper">
			<div class="page-title clearfix">
				<div class="pagetitle1">ABOUT<span> | US</span></div>
				<div class="line-heading"></div>
			</div><br/><br/><br/>
			{% include "site/team/team.html" %}
			<div class="line-heading"></div>
			<div class="one-third">     {% include "site/misc/philosophy.tpl" %}</div>
			<div class="one-third">     {% include "site/misc/strategy.tpl"   %}</div>
			<div class="one-third last">{% include "site/misc/skills.tpl"     %}</div>
		</div>
	</div>
{% endblock %}